body {
  font-family: "Courgette";
}

button:hover {
  cursor: pointer;
}

.movementsBar {
  border: 1px solid black;
}

.specialActions {
  display: flex;
  border: 1px solid black;
  width: 600px;
  margin-bottom: 15px;
  justify-content: center;
  justify-self: center;
  align-self: center;
}

.specialActions button {
  background-color: #590ed1;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 10px;
}

.movementsButton {
  background-color: #22aacc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 15px;
}

.playerHealthCount {
  color: green;
  font-size: 24px;
  margin-left: 10px;
  margin-top: 1rem;
}

.enemyHealthCount {
  color: red;
  font-size: 17px;
}

/* .specialActions {
  display: flex;
  justify-content: center;
  align-items: center;
} */

.equippedWeapon {
  color: goldenrod;
}

.hideButton {
  display: none;
}

#fightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fightContainer > * {
  margin: 75px;
}

#fightTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainSidebar {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  position: fixed;
}

#gameOverWrapper {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

#deathHeader {
  font-family: "Creepster", cursive;
  color: maroon;
  font-size: 38px;
  font-weight: 400;
}

#deathEmoji {
  font-size: 32px;
}

#roomMasterContainer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

/* #utilityBar {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  position: fixed;
} */

#playerHealthIcon {
  background-image: url("./pics/game.png");
  height: 30px;
  width: 30px;
  background-size: contain;
  margin-right: 10px;
  margin-top: 5px;
}

#playerHealthIconWrapper {
  display: flex;
  flex-direction: row-reverse;
  height: 32px;
  margin-bottom: 10px;
}

#inventoryIcon {
  background-image: url("./pics/bag.png");
  height: 32px;
  width: 32px;
  background-size: contain;
  margin-right: 10px;
  margin-top: 7px;
}

#inventoryIconWrapper {
  display: flex;
  flex-direction: row;
  height: 32px;
}

#textWrapperRoom {
  background-color: rgba(201, 152, 104, 0.35);
  width: 600px;
  height: 500px;
  overflow: scroll;
  border: 0.5px solid grey;
  margin-bottom: 15px;
}

#specialActionsFightWrapper {
  display: flex;
  justify-content: center;
}
