.movementsBar {
  border: 1px solid black;
}

.movementsButton {
  background-color: #534caf;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 15px;
}

.playerHealthCount {
  color: green;
  font-size: 17px;
}

.enemyHealthCount {
  color: red;
  font-size: 17px;
}

.specialActions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.equippedWeapon {
  color: goldenrod;
}

.hideButton {
  display: none;
}

#fightContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#fightContainer > * {
  margin: 75px;
}

#fightTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

#mainSidebar {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  position: fixed;
}

#gameOverWrapper {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

#deathHeader {
  font-family: "Creepster", cursive;
  color: maroon;
  font-size: 38px;
  font-weight: 400;
}

#deathEmoji {
  font-size: 32px;
}

#roomMasterContainer {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}

#textWrapperRoom {
  background-color: rgba(201, 152, 104, 0.35);
  width: 500px;
  height: 500px;
  overflow: scroll;
  border: 0.5px solid grey;
  margin-bottom: 15px;
}
